<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :件名 %>
    <% if current_user.id == @message.user_id  %>
	    <%= f.text_field :title , :class => 'title-field'%>
    <% else %>
	    <%= f.text_field :title , :class => 'title-field' , :readonly => 'readonly'%>
    <% end %>

  </div>
  <div class="field">
    <%= f.label :本文 %>

    <% if current_user.id == @message.user_id %>
	    <%= f.text_area :body , :class => 'body-field'%>
    <% else %>
	    <%= f.text_area :body , :class => 'body-field', :readonly => 'readonly'%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :みんなのイイね！ %>
	<%= f.number_field :evaluate , :readonly => 'readonly'%>
  </div>
  <div class="actions">
	<% if current_user.id == @message.user_id %>
	    <%= f.submit :class => 'btn btn-primary' %>
	<% else %>
	    <%= f.submit 'いいね！', :class => 'btn btn-primary' %>
    <% end %>
	
  </div>
<% end %>
